<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Autores</h2>
		Nacho Mart&iacuten Velasco
		<br><img src="/images/nacho.jpg">
		<p>Jose Fernando Rubio Barrena</p>
		<br><img src="/images/jose.jpg">
	</body>
</html>			